# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Bootcamp G11\lesson2-servlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
